/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../image/registration.jpg');
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.header-left h1 {
    margin: 0;
}

.header-right button {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.header-right button:hover {
    background-color: #45a049;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar input[type="text"],
.search-bar button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
}

.company-list {
    width: 80%;
    margin-left: 10%;
}

.company-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add spacing between company cards */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.filters {
    width: 250px;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 5px;
}

.filters h2 {
    margin-bottom: 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.filters form {
    display: flex;
    flex-direction: column;
}

.filters label {
    margin-bottom: 5px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.filters input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filters button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.filters button:hover {
    background-color: #45a049;
}

.container {
    display: flex;
}

.company-card img {
    max-width: 190px; /* Adjust as needed */
    margin-right: 10px;
    margin-bottom: 10px;
    height: 190px; /* Adjust spacing between image and text */
}

.company-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.company-card h2 {
    margin: 0; /* Remove default margin */
    color: white;
}

.company-card p {
    margin: 10px 0;
    color: white;
}

.view-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.view-button:hover {
    background-color: #45a049;
}
