<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link  src="{{ url_for('static', filename='login.js') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="{{ url_for('login.process_login') }}" method="POST">
            <label for="email_id">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your emailId" required><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required><br>

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('registration.register') }}">Register here</a></p>
    </div>
</body>
</html>
